{% extends 'base_dashboard.html' %}


{% block content %}

<section class="h-100 gradient-form" style="background-color: #a9baf3;;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-5">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              
                <div class="card-body p-md-5 mx-md-4">
  
                  
                  {% if messages %}
                  <ul class="messages d-flex justify-content-center mb-2 mt-2">
                      
                      <div class="alert alert-{{message.tags}}" role="alert">
                      <h6>{{messages}}</h6>
                      </div>
                      
                  </ul>
                  {% endif %}
                  <h1 class="header-title">
                    <span class="up">Forgot PassWord</span>
        
                    
                </h1>
  
                  <form  action="/forgot_password" method="POST">
                    {% csrf_token %}
                    <p>Please Enter your Registered email</p>
  
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example11" class="form-control"
                        placeholder="Email address" name="email"/>
                      <label class="form-label" for="form2Example11">Email</label>
                    </div>
                    
  
                   
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"  type="submit" >Send otp</button>
                      
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Do you  have an account?</p>
                      <button type="button" class="btn btn-outline-danger"><a href="/login/">Login</a> </button>
                    </div>
  
                  </form>
  
                </div>
              </div>
              
            
          </div>
        </div>
      </div>
    </div>
  </section>


    
{% endblock %}