{% extends 'base_dashboard.html' %}


{% block content %}

<section class="h-100 gradient-form" style="background-color: #a9baf3;">
    <div class="container py-5 h-50">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-5">
          <div class="card rounded-3 text-black">
            
             
                <div class="card-body p-md-5 mx-md-4">
  
                  
                  {% if messages %}
                  <ul class="messages d-flex justify-content-center mb-2 mt-2">
                      {% for message in messages %}
                      <div class="alert alert-{{message.tags}}" role="alert">
                      <h5>{{ message }}</h5>
                      </div>
                      {% endfor %}
                  </ul>
                  {% endif %}
  
                  <form  action="/login/" method="POST">
                    {% csrf_token %}
                    <p>Please login to your account</p>
  
                    <div class="form-outline mb-4">
                      <input type="text" id="form2Example11" class="form-control"
                        placeholder="Email address" name="username"/>
                      <label class="form-label" for="form2Example11">Username</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input placeholder="Password" type="password" id="form2Example22" name="password" class="form-control" />
                      <label class="form-label" for="form2Example22">Password</label>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"  type="submit" >Log
                        in</button>
                      <a class="text-muted" href="/forgot_password">Forgot password?</a>
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <button type="button" class="btn btn-outline-danger"><a href="/signin">Create new</a> </button>
                    </div>
  
                  </form>
  
                
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


    
{% endblock %}